
.outer__body{
    background: #191b1f; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px  ;
}
.container{
       
       width: 70%;
}
.container h1{
       font-size: 5em;
}


.container2{
    width: 70%;
    /* background-color: red; */
    margin: 30px 0px;
}
.container2__para{
    margin: 30px 0px;
}
.container2__para p{
    font-size: 20px;
    line-height: 200%;
    opacity: 0.7;
}

