

.container__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    background-color: #090A0B;
    padding: 40px 0px;
}

.container__2__1 {
    margin: 30px;
}
.container__2__1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}




.container__2__2 {
font-size: 30px;
}

.container__2__3 {
    font-size: 20px;
    opacity: 0.7;
    margin: 10px 0px;
}

.container__2__4 {
    width: 40%;
    line-height: 170%;
    opacity: 0.5;
    margin: 30px 0px 0px 0px;

}

.container__2__5 {
    width: 100px;
    height: 100px;
    /* border: 1px solid #fff ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__2__5 a img {
    background: white;
    border-radius: 50%;

}